@import "fish.css";
@import "locations.css";
@import "tips.css";
@import "quotes.css";
@import "banner.css";
@import "button.css";



.hidden {
    display: none;
}


body {
    /* background-color: #9bf6ff; */
    background-color: #5CDB95;

}
.container {
    display: flex;
    flex-direction: column;
}

.fishList {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: .8em 0;
}



.underTheBanner {
    display: flex;
    flex-direction: row;
}

.underTheBanner__left {
    display: flex;
    flex-direction: column;
    flex: 3.5;
}

.underTheBanner__right {
    flex: 1;
}
